.head {
  min-width: 100vw;
  min-height: 50px;
  background-color: hsla(0, 0%, 100%, 0.757);
  box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
